@use "./partials/mixins" as *;
@use "./partials/variables" as *;

@import "bootstrap/scss/bootstrap";

.flag-image {
  display: block;
  width: 30px;
}

.void-poster {
  width: 312px;
  height: 468px;
  object-fit: contain;

  border: 1px solid black;
}
